@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_100_Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_100.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_300_Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_300.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_500_Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_700_Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_900_Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('fonts/MuseoSansCyrl_900.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
