@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
  .dazzlemix-content
    background:url(images/diamond@2x.png) top right no-repeat, linear-gradient(-225deg, #FFFFFF 0%, #F5FAFF 100%)
    background-size: 786px 100%, auto

@media (min-width: 1440px)
  .dazzlemix-content
    height: 100vh
    min-height: 750px

  .dazzlemix-top
    margin-bottom: 240px

@media (min-width: 1920px)
  .dazzlemix-content
    min-height: 950px
    padding: 160px

@media (max-width: 1439px)
  .dazzlemix-top
    margin-bottom: 200px

  .dazzlemix-content
    height: 100vh
    min-height: 750px
    padding: 47px
    padding-right: 26px
    background-size: 48vw 100%, auto

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
    .dazzlemix-content
      background:url(images/diamond@2x.png) top right no-repeat, linear-gradient(-225deg, #FFFFFF 0%, #F5FAFF 100%)
      background-size: 48vw 100%, auto

@media (max-width: 1023px)
  .dazzlemix-content
    min-height: 750px
    background-size: 45vw 100%, auto

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
    .dazzlemix-content
      background-size: 45vw 100%, auto

  .dazzlemix-title
    width: 420px
    font-size: 44px
    line-height: 60px

  .contacts-item
    color: #102766

  .dazzlemix-contacts
    align-items: flex-start

  .dazzlemix-features
    margin-bottom: 20px

  .dazzlemix-bottom
    flex-direction: column

@media (max-width: 759px)
  .dazzlemix-content
    min-height: 750px
    padding: 32px
    background: linear-gradient(-225deg, #FFFFFF 0%, #F5FAFF 100%)

  .dazzlemix-top
    margin-bottom: 160px

  .dazzlemix-title
    margin-bottom: 150px
    width: 100%

  .dazzlemix-features
    width: 100%

  .features-list
    width: 100%
    flex-direction: column
    flex-wrap: wrap
    max-height: 72px
    align-content: space-between

  .features-item
    order: 2
    &:nth-child(4)
      order: 1

  .dazzlemix-contacts
    width: 100%

  .contacts-item
    font-size: 14px

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
      .dazzlemix-content
        background: linear-gradient(-225deg, #FFFFFF 0%, #F5FAFF 100%)
