@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2)
  .dazzlemix-content
    background:url(images/diamond@2x.png) top right no-repeat, linear-gradient(-225deg, #FFFFFF 0%, #F5FAFF 100%)
    background-size: 986px 1024px, auto