body
  font-family: 'Museo Sans Cyrl', sans-serif
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

ul, li
  list-style: none
  padding: 0
  margin: 0

a
  color: inherit

.dazzlemix-content
  width: 100%
  min-height: 500px
  padding: 120px
  background:url(images/diamond.png) top right no-repeat, linear-gradient(-225deg, #FFFFFF 0%, #F5FAFF 100%)
  background-size: 786px 100%, auto
  box-sizing: border-box

.dazzlemix-top
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 320px

.dazzlemix-logo
  width: 64px
  height: 57px
  margin-right: 16px

.dazzlemix-promo
  font-size: 26px
  line-height: 32px
  color: #102766
  font-weight: 900
  text-transform: uppercase

.dazzlemix-title
  width: 490px
  font-size: 48px
  line-height: 64px
  color: #102766
  font-weight: 100
  margin-bottom: 64px

.dazzlemix-bottom
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-between
  align-items: flex-start

.features-list
  width: 425px
  max-height: 48px
  display: flex
  flex-wrap: wrap
  flex-direction: column
  justify-content: space-between

.features-item
  font-size: 10px
  line-height: 24px
  color: #747e99
  font-weight: 900
  text-transform: uppercase

.dazzlemix-contacts
  display: flex
  flex-direction: column
  align-items: flex-end

.contacts-item
  font-size: 16px
  line-height: 24px
  color: #ffffff
  font-weight: 300

.contacts-item--email
  line-height: 21px
  border-bottom: 1px solid #524da5
  cursor: pointer
  &:hover
    border-bottom: none
